In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics
%matplotlib inline

In [2]:
london = pd.read_csv('F:\Vertual Environmet for Python\PROGRAMMING IN PYTHON [A]\Final\Datasets\london_weather.csv')
london

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
0,19790101,2.0,7.0,52.0,2.3,-4.1,-7.5,0.4,101900.0,9.0
1,19790102,6.0,1.7,27.0,1.6,-2.6,-7.5,0.0,102530.0,8.0
2,19790103,5.0,0.0,13.0,1.3,-2.8,-7.2,0.0,102050.0,4.0
3,19790104,8.0,0.0,13.0,-0.3,-2.6,-6.5,0.0,100840.0,2.0
4,19790105,6.0,2.0,29.0,5.6,-0.8,-1.4,0.0,102250.0,1.0
...,...,...,...,...,...,...,...,...,...,...
15336,20201227,1.0,0.9,32.0,7.5,7.5,7.6,2.0,98000.0,NaN
15337,20201228,7.0,3.7,38.0,3.6,1.1,-1.3,0.2,97370.0,NaN
15338,20201229,7.0,0.0,21.0,4.1,2.6,1.1,0.0,98830.0,NaN
15339,20201230,6.0,0.4,22.0,5.6,2.7,-0.1,0.0,100200.0,NaN
15340,20201231,7.0,1.3,34.0,1.5,-0.8,-3.1,0.0,100500.0,NaN

In [18]:
london.replace(0, np.nan, inplace=True)
london.isnull().sum()

date                   0
cloud_cover          400
sunshine            2570
global_radiation      19
max_temp              11
mean_temp             46
min_temp              59
precipitation       7969
pressure               4
dtype: int64

In [20]:

london

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure
0,19790101,2.0,7.0,52.0,2.3,-4.1,-7.5,0.4,101900.0
1,19790102,6.0,1.7,27.0,1.6,-2.6,-7.5,NaN,102530.0
2,19790103,5.0,NaN,13.0,1.3,-2.8,-7.2,NaN,102050.0
3,19790104,8.0,NaN,13.0,-0.3,-2.6,-6.5,NaN,100840.0
4,19790105,6.0,2.0,29.0,5.6,-0.8,-1.4,NaN,102250.0
...,...,...,...,...,...,...,...,...,...
15336,20201227,1.0,0.9,32.0,7.5,7.5,7.6,2.0,98000.0
15337,20201228,7.0,3.7,38.0,3.6,1.1,-1.3,0.2,97370.0
15338,20201229,7.0,NaN,21.0,4.1,2.6,1.1,NaN,98830.0
15339,20201230,6.0,0.4,22.0,5.6,2.7,-0.1,NaN,100200.0
15340,20201231,7.0,1.3,34.0,1.5,-0.8,-3.1,NaN,100500.0

In [21]:
x = london.mean()
london.fillna(x, inplace = True)


london

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure
0,19790101,2.0,7.000000,52.0,2.3,-4.1,-7.5,0.400000,101900.0
1,19790102,6.0,1.700000,27.0,1.6,-2.6,-7.5,3.471039,102530.0
2,19790103,5.0,5.225668,13.0,1.3,-2.8,-7.2,3.471039,102050.0
3,19790104,8.0,5.225668,13.0,-0.3,-2.6,-6.5,3.471039,100840.0
4,19790105,6.0,2.000000,29.0,5.6,-0.8,-1.4,3.471039,102250.0
...,...,...,...,...,...,...,...,...,...
15336,20201227,1.0,0.900000,32.0,7.5,7.5,7.6,2.000000,98000.0
15337,20201228,7.0,3.700000,38.0,3.6,1.1,-1.3,0.200000,97370.0
15338,20201229,7.0,5.225668,21.0,4.1,2.6,1.1,3.471039,98830.0
15339,20201230,6.0,0.400000,22.0,5.6,2.7,-0.1,3.471039,100200.0
15340,20201231,7.0,1.300000,34.0,1.5,-0.8,-3.1,3.471039,100500.0

In [12]:
X = london_w.drop(columns='cloud_cover')
X

,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,snow_depth
0,7.0,52.0,2.3,-4.1,-7.5,0.4,9.0
1,1.7,27.0,1.6,-2.6,-7.5,0.0,8.0
2,0.0,13.0,1.3,-2.8,-7.2,0.0,4.0
3,0.0,13.0,-0.3,-2.6,-6.5,0.0,2.0
4,2.0,29.0,5.6,-0.8,-1.4,0.0,1.0
...,...,...,...,...,...,...,...
14970,0.0,12.0,9.6,7.5,6.6,0.0,0.0
14971,0.0,12.0,9.9,8.1,6.6,0.0,0.0
14972,2.2,29.0,11.5,8.7,7.4,0.0,0.0
14973,3.6,37.0,9.3,6.5,1.5,0.0,0.0
14974,0.0,13.0,9.4,7.1,4.9,0.0,0.0

In [13]:
y = london_w['cloud_cover']
y

0        C
1        G
2        F
3        I
4        G
        ..
14970    I
14971    I
14972    G
14973    A
14974    H
Name: cloud_cover, Length: 13843, dtype: object

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 1)

In [16]:
from sklearn import svm #for Support Vector Machine (SVM) Algorithm
model_svm = svm.SVC() #select the algorithm
model_svm.fit(X_train, y_train) #train the model with the training dataset
y_prediction_svm = model_svm.predict(X_test) # pass the testing data to the trained model
# checking the accuracy of the algorithm. 
# by comparing predicted output by the model and the actual output
score_svm = metrics.accuracy_score(y_prediction_svm, y_test).round(4)
print("----------------------------------")
print('The accuracy of the SVM is: {}'.format(score_svm))
print("----------------------------------")
# save the accuracy score
score = set()
score.add(('SVM', score_svm))

TypeError: '<' not supported between instances of 'str' and 'float'